
.panel {
	width: 180px;
	background: rgba(255, 255, 255, .96);
	position: absolute;
	right: 200px;
	top: 50px;
	z-index: 1000;
  /*border:1px solid #ddd;
  border-color:#e0e0e0 #bfbfbf #aaa #bfbfbf;*/
  box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
  border-radius: 5px; 
	padding:5px 0;
}

.panel li {
	display: block;
	color: #000;
	text-decoration:none;
	padding:3px 15px;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	cursor: default;
	font-size:13px;
}

.panel-app-name {
	font-weight:bold;
}

.panel li:hover {
	color: #fff;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #1b78d9), color-stop(1, #319be7) );
	border-top:1px solid #148ddf;
	border-bottom:1px solid #095bba;
	text-shadow:0 0 1px #999;
}

.panel li.disabled {
	color:#aaa;
}

.panel li.disabled:hover {
	color:#aaa;
	background-image:none;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	text-shadow:none;
}


.panel hr {
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, .10), rgba(0, 0, 0, .02) 96%);
	border: 0;
	height: 1px;
	margin: 8px 0;
}
