body { 
  background-color: #333; 
}
#page { 
  opacity: 0.20 !important; -webkit-filter: blur(3px); 
  transition: all 0.2s ease-in-out; 
}

#search-promo {  
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    left: 0;
    top: 0;
    z-index: 1000;
    /* margin-top: -21em; */
    line-height: 1;
    cursor: default; 
}


#search-promo {
 transition: transform 0.6s ease-in-out, 0.15s ease-in-out; 
  /*transition: transform 0.6s cubic-bezier(.87,-.41,.19,1.44);*/
  /*transform: scale(0.75); opacity:0.3;*/
  opacity:0.3;
}

#search-promo.start { transform: scale(1); opacity:1; }


#search-promo-accept {
  z-index: 1000;
    top: 50%;    
    position: fixed;    
    left: 0;    
    width: 100%;                    
   margin-top: 0em;
   color: rgba(255, 218, 91, .97);
   font-family: arial;    
   font-weight: 700;
   font-size: 72px;
   text-shadow: 2px 2px 3px rgba(0,0,0,.6);
   /* top: 250px; */    /* margin-top: 3em; */">
}
#search-promo-accept a {
   color: #5bbbff;
   text-decoration: none;
   border-bottom: 10px solid rgba(91, 187, 255, 1);
   border-color: rgba(255, 218, 91, .96);
}
#search-promo-decline {
  z-index: 1000;
    bottom: 30px;    
    position: fixed;    
    left: 0;   
     width: 100%;                    
   font-family: arial;    /* font-weight: 700; */
   font-size: 34px;
}

#search-promo-decline a {
    color: #ff725b;
    text-decoration: none;
    border-bottom: 3px solid rgba(255, 114, 91, .3);
    opacity: .9;
}


#search-promo-accept,
#search-promo-decline { transition:transform 0.15s ease-in-out;
                        transform:scale(1);  }
#search-promo-accept:active, #search-promo-decline:active 
     { transform:scale(1) !important; transition:transform 0.08s ease-in-out;   }
#search-promo-accept:hover { transform:scale(1.08); }
#search-promo-decline:hover { transform:scale(1.015); }


#search-promo-desc {
top: 50%;   
 position: fixed;    
left: 0;    
width: 100%;                    
  margin-top: -3em;
  color: #fff;
  font-family: arial;    
  /* font-weight: 700; */
  font-size: 72px;
  /* top: 250px; */    
  /* margin: 0; */
}


@media only screen and (max-height: 900px) {
    #search-promo-text { zoom:0.85; } #search-promo img { zoom:0.9; }
}
@media only screen and (max-height: 820) {
    #search-promo-text { zoom:0.75; } #search-promo img { zoom:0.85; }
}
@media only screen and (max-height: 800) {
    #search-promo-text { zoom:0.7; } #search-promo img { zoom:0.8; }
}
@media only screen and (max-height: 770px) {
    #search-promo-text { zoom:0.68; } #search-promo img { zoom:0.78; }
}
@media only screen and (max-height: 700px) {
    #search-promo-text { zoom:0.65; } #search-promo img { zoom:0.75; }
}