
/*
 Weather
*/

@font-face {
    font-family: MeteoconsRegular;
    src: url(fonst/meteocons-webfont.eot);
    src: url(fonts/meteocons-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/meteocons-webfont.woff) format('woff'), url(fonts/meteocons-webfont.ttf) format('truetype'), url(fonts/meteocons-webfont.svg#MeteoconsRegular) format('svg');
    font-weight: 400
}

/*
text-shadow: 0 1px 5px rgba(0,0,0,.1);
*/

.weather {
    position: relative
}
.weather .location {
    outline: 0
}
.metric-stat .icon {
    display: block; 
   	margin:0 auto;
}
.weather .icon:before {
    font-family: MeteoconsRegular;
    content: attr(data-icon);
    font-size: 140%;
}
.weather .degree:not(:empty):after {
 content: "\00B0" /* ° */
}
.weather .degree-before:not(:empty):before {
 content: "\00B0" /* ° */
}

.weather .degree {
    font-weight:bold
}
.metric {
		z-index: 100;
    /*margin: 14px 20px 0 0;
    text-align: right;*/
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 0 0 0 8px;

    /*background-color: rgba(0,0,0,.3); */

    -webkit-transition:background-color .5s;
    cursor: default;
    -webkit-user-select: none;
}
.metric.left {
	left:4px;
	bottom:108px;
	top:auto;
	right: auto;
	border-radius: 8px;
	padding: 6px;
}
.metric.left .degree {
	display:block;
	text-align: center;
}

.weather:hover {
	background-color: rgba(0,0,0,.5); 
}
.metric-stat {
    display: block;
    margin-left: 6px;
    font-size: 26px;
    text-align: center;
}
.metric-stat .icon, .metric-stat .degree:after, .weather-stat-col .degree:after {
	color: rgba(255, 255, 255, 0.7);
}

.metric-stat .icon {
	color:#fff;
}

.metric-stat .icon.svg {
	min-width:40px; 
	min-height:40px; 
	background-size: 40px; 
	vertical-align: top;
  background-repeat: no-repeat; 
  background-position: center center;
  position: relative;
  /*margin-left:-4px;*/
}
#left-toolbar .metric-stat .icon.svg {
	left:-4px;
}

.metric-stat .percip-prob {
	position: absolute;
	top: 0;
	right: -4px;
	font-size: 12px;
	/* color #a5d6ff; */
}




/* forecast */

#weather-forecast {
	background: rgba(0,0,0,.9);
	left: 62px;
	margin-bottom: -38px;
	padding: 0 12px 16px;
	-webkit-transition:opacity .4s;
	border: 1px solid rgba(255,255,255,.1);
	/*box-shadow: 0 1px 13px rgba(0, 0, 0, 0.8);*/
}
.focus #weather-forecast {
	background: rgba(0,0,0,.7);
}
#weather-forecast-header {
    text-align: center;
    padding: 15px;
}
#weather-forecast-city {
	  font-size: 20px;
    font-weight: normal;
    color: rgba(255,255,255,.5);
    /*
    font-size: 30px;
    font-weight: bold;
    color: rgba(255,255,255,.90);
    */
    /* font-weight: 300; font-size: 16px; */
    /*color: #F9B71F;*/ /* golden for day? */
    /*color:#a5d6ff; */ /* cold blue for night? */
}


#weather-forecast-city.accurate {
    font-weight: 500;
    color: rgba(255,255,255,.85);
}

#weather-forecast .metric-stat {
	float:left;
	margin: 0 15px;
	width: 48px;
}
.degree.low {
	color:#a5d6ff;
	font-size: 80%;
}

#weather-forecast .degree {
    left:2.5px;
    position: relative;
}

#weather-unit-option {
   position: absolute;
    /*left: 24px;*/
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    top: 18px;
    right: 26px;
    color:#fff;
    opacity: 0.5;
    cursor: pointer;
    text-transform: uppercase;
}
#weather-unit-option:hover { opacity:1; }

.weather-stat-col {
	display: inline-block;
	width:78px;
	margin:8px 0px 6px;
	padding-bottom:14px;
	text-align: center;
	border-bottom: 2px solid rgba(128,128,128,.15);
}

.weather-stat-title {
	font-size: 18px;	color:rgba(255,255,255,.7);
}

.weather-stat-val {
	font-size: 26px;
}

.weather-stat-unit {
	font-size: 16px;
	color:rgba(255,255,255,.7);
}

#weather-forecast-help {
	position: absolute;
	left:0;
	right: 0;
	top: -5px;
	padding:20px;
	box-sizing: border-box;;
	-webkit-transform:translateY(-100%);
	background: rgba(0,0,0,.95);
	font-size: 14px;
	border-radius: 8px;
}

#weather-forecast-help a { color: #F9B71F; font-weight: bold; }

.location-icon {
	width: 20px;
	height: 20px;
	background-size: 20px;
	position: absolute;
	/*right: 14px;*/
	left: 26px;
  top: 18px;
  opacity: .8;
  cursor:pointer;
  background-image: url(../icons/location.svg);
  display: none;
}
.location-icon:hover {
  opacity: 1.0 !important;
}

.location-icon.disabled {
	display: block;
	opacity: .5;
	background-image: url(../icons/location_disabled.svg);
}